.badge {
  border-radius: 4px;
  text-align: center;
  padding: 2px 6px;
  position: relative;
  z-index: 5;
  font-size: 12px;
  font-family: "system-ui", "BlinkMacSystemFont", "Segoe UI", "Noto Sans",
    "Helvetica, Arial", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
}

.badge[data-type="arrow"]::after {
  position: absolute;
  display: block;
  content: "";
  width: 16px;
  border-radius: 4px;
  height: 16px;
  right: -4px;
  top: 50%;
  transform: translate(0, -50%) rotate(45deg);
  z-index: -1;
  background-color: #ebeef6;
}
